apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "hyperglance.fullname" . }}
  labels:
    app: {{ template "hyperglance.name" . }}
    chart: {{ template "hyperglance.chart" . }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  selector:
    matchLabels:
      app: {{ template "hyperglance.name" . }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "hyperglance.name" . }}
    spec:
      initContainers:
      - name: install
        image: "{{ .Values.install.image}}:{{ .Values.install.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
        command: ['sh', '-c', '[ -d /mnt/data/rules ] && exit 0; mkdir -p /mnt/data/rules /mnt/data/httpd_logs /mnt/data/wildfly_logs /mnt/data/mellon && touch /mnt/data/email.properties /mnt/data/hg.bin && echo h6ZRHkSWoPZFAZCnm0Lx2EPOzQ3qeyR2oAziMLxQKKyUKky+lKJfYhbdE4T0dIhgcnSrUy/65dhOAXlDFdyegIVe1EVURapOJNVhPNA04R5ZNKDheFFK7YjR2UIz3LiWt4vGTf89uCKxDonM1QSxL88dg/e+oVicBlS4Zm6x636B/1igeHmo60sTZ7NwMLwavoXwdlgSxM4QJA1FeSu3SBCnrr2uTThNP9Nqfu0YbwKxMGAy+HwdPb7MXzfq6HOEyPbe0sp6zBzng/1x1R0+f14OklQQQOZ/Hi3W+W+nGs8a0sJHgFGZ9RxH6MVP5nnYYBGCgnFuNHBnjeSJtRwU8XZBKHszyu6bmo+Yq57u90x4yAQwaSYqOxc0FNYFNKF+316xvOZGOwHsEDWQqDfIRec08UeciJZngje5Le3xsDULXpNWlrJkox6xIrXXoq7zSC0qS/fzon2ghwlVu/zBjCSIvt8lqatdoyH4d9eNBYcFIjka4QOp1BzMP39H5NuEXe78tI1ZJ5iMRKAMeoeOxmvvhYRBpQ7tlbmyYZgcr5j3h2yeVHC/luiFdFVgHFMaeKxIEKS1+m2e3S5MfKUOsv/8TayvmYHFlA4HX6rdjd9UfjvBVSgy9mNmxDjdt62JV04/x4Oy4QRfFtGYjvGXFIIKi3M48eTK7lqtUo0r0ioGb1EDSQtVAb3r3Pjb9LL9NNau5zBZBkCiZ3uf/+M3mJchWjp/Qaga3j9hRytJYRARmVSkLFblM3OiIodpmTcplqjuBW7O9F/Jd0AhX02iKyY9vrfmW5dN3dA4fd7rYecjS0mRIHl4h3BwDbRD3Lzt7tLj5zb3suHBvhkMjnP1wA== > /mnt/data/hg.bin && chown -R 333: /mnt/data && chown root: /mnt/data/httpd_logs']

        volumeMounts:
        - name: hyperglance-data
          mountPath: /mnt/data
          readOnly: false

      containers:
      - name: postgresql
        image: "{{ .Values.postgresql.image}}:{{ .Values.postgresql.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}

        volumeMounts:
        - name: postgresql-data
          mountPath: /var/lib/pgsql
          readOnly: false

      - name: httpd
        image: "{{ .Values.httpd.image}}:{{ .Values.httpd.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}

        envFrom:
        - configMapRef:
            name: "{{ .Release.Name }}-env"

        volumeMounts:
        - name: httpd-ssl
          mountPath: /etc/httpd/ssl
          readOnly: true

        - name: hyperglance-data
          mountPath: /etc/httpd/mellon
          subPath: mellon
          readOnly: false

        - name: hyperglance-data
          mountPath: /var/log/httpd
          subPath: httpd_logs
          readOnly: false

      - name: wildfly
        image: "{{ .Values.wildfly.image}}:{{ .Values.wildfly.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy | quote }}

        envFrom:
        - configMapRef:
            name: "{{ .Release.Name }}-env"

        volumeMounts:
        - name: hyperglance-data
          mountPath: /var/lib/hyperglance/rules
          subPath: rules
          readOnly: false

        - name: hyperglance-data
          mountPath: /opt/wildfly/standalone/deployments/hgs.ear/lib/common.jar/email.properties
          subPath: email.properties
          readOnly: false

        - name: hyperglance-data
          mountPath: /opt/wildfly/standalone/data/hg.bin
          subPath: hg.bin
          readOnly: false

        - name: hyperglance-data
          mountPath: /opt/wildfly/standalone/log
          subPath: wildfly_logs
          readOnly: false

      volumes:
      - name: postgresql-data
        persistentVolumeClaim:
          claimName: hyperglance-postgresql-data

      - name: httpd-ssl
        secret:
          secretName: hyperglance-httpd-ssl

      - name: hyperglance-data
        persistentVolumeClaim:
          claimName: hyperglance-data

      restartPolicy: {{ .Values.restartPolicy }}
      dnsPolicy: ClusterFirst
      hostAliases:
      - ip: '127.0.0.1'
        hostnames:
        - 'httpd'
        - 'wildfly'
        - 'postgresql'